{
  "openapi": "3.0.0",
  "info": {
    "version": "v2",
    "title": "CenitIO API Specifications",
    "termsOfService": "https://cenit.io/terms",
    "contact": {
      "email": "support@cenit.io",
      "url": "https://cenitio.slack.com/messages/support"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "logo.png"
    },
    "description": "# Introduction\n\nCenitIO is an opensource integration platform (iPaaS) for data and business integrations. It is designe to solve\nunique integrations needs, with a robust engine that is able to receive, transform and deliver data in multiple\nformats and protocols. Ready to use in our cloud or on-premises\n\nThe CenitIO APIv2 is a simple connector API for doing business and data integrations.\n\nThis API is for individual retailers, SaaS services, or any business that needs to handle multiple integrations.\n\n* It is built over REST services on HTTPS.\n\n* It has predictable resource URLs.\n\n* It returns HTTP response codes to indicate errors.\n\n* It accepts and returns JSON in the HTTP body.\n\n* You can use your favorite HTTP/REST library for your programming language to use CenitIO APIv2.\n\n  [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/eb5947e10923dee87507)\n"
  },
  "tags": [
    {
      "name": "Document Types",
      "description": "...\n"
    },
    {
      "name": "File Types",
      "description": "...\n"
    },
    {
      "name": "Collections",
      "description": "...\n"
    },
    {
      "name": "Shared Collections",
      "description": "...\n"
    },
    {
      "name": "Algorithms",
      "description": "...\n"
    },
    {
      "name": "Applications",
      "description": "...\n"
    },
    {
      "name": "Snippets",
      "description": "...\n"
    },
    {
      "name": "Templates",
      "description": "...\n"
    },
    {
      "name": "Parsers",
      "description": "...\n"
    },
    {
      "name": "Converters",
      "description": "...\n"
    },
    {
      "name": "Updaters",
      "description": "...\n"
    },
    {
      "name": "System Notifications",
      "description": "...\n"
    },
    {
      "name": "Tasks",
      "description": "...\n"
    },
    {
      "name": "Flows",
      "description": "...\n"
    },
    {
      "name": "Observers",
      "description": "...\n"
    },
    {
      "name": "Schedulers",
      "description": "...\n"
    },
    {
      "name": "Connections",
      "description": "...\n"
    },
    {
      "name": "Connection Roles",
      "description": "...\n"
    },
    {
      "name": "Resouces",
      "description": "...\n"
    },
    {
      "name": "Authorizations Clients",
      "description": "...\n"
    },
    {
      "name": "Authorizations Providers",
      "description": "...\n"
    },
    {
      "name": "Authorizations Basic",
      "description": "...\n"
    }
  ],
  "servers": [
    {
      "url": "https://cenit.io/api/v2"
    },
    {
      "url": "https://server.cenit.io/api/v2"
    }
  ],
  "security": [
    {
      "X-Tenant-Access-Key": [],
      "X-Tenant-Access-Token": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "Data",
      "tags": [
        "Document Types",
        "File Types"
      ]
    },
    {
      "name": "Integrations",
      "tags": [
        "Collections",
        "Shared Collections"
      ]
    },
    {
      "name": "Compute",
      "tags": [
        "Algorithms",
        "Applications",
        "Snippets"
      ]
    },
    {
      "name": "Transformations",
      "tags": [
        "Templates",
        "Parsers",
        "Converters",
        "Updaters"
      ]
    },
    {
      "name": "Workflows",
      "tags": [
        "Flows",
        "Observers",
        "Schedulers"
      ]
    },
    {
      "name": "Monitors",
      "tags": [
        "Tasks",
        "System Notifications"
      ]
    },
    {
      "name": "Gateways",
      "tags": [
        "Connections",
        "Connection Roles",
        "Resources",
        "Webhooks"
      ]
    },
    {
      "name": "Security",
      "tags": [
        "Authorizations Clients",
        "Authorizations Providers",
        "Authorizations Basic"
      ]
    }
  ],
  "paths": {
    "/setup/algorithm": {
      "get": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "get_algorithms",
        "summary": "List all algorithms",
        "description": "Returns the list of your algorithms.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/algorithm',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: '-namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "create_algorithm",
        "summary": "Create a algorithm",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/algorithm_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/algorithm',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"alg_test_01\",\n    type: \"ruby\",\n    code: \"return 1 + 1\",\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/algorithm/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "get_algorithm",
        "summary": "Retrieve a algorithm",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61eeeea05a5a2353a401b2c6'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/algorithm/${item_id}`,\n  httpsAgent: agent,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "update_algorithm",
        "summary": "Update a algorithm",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/algorithm_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61eeeea05a5a2353a401b2c6'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/algorithm/${item_id}`,\n  httpsAgent: agent,\n  data: {\n    code: `return 1 + ${Date.now()}`,\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "delete_algorithm",
        "summary": "Delete a algorithm",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61eeeea05a5a2353a401b2c6'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/algorithm/${item_id}`,\n  httpsAgent: agent,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/basic_authorization": {
      "get": {
        "tags": [
          "Authorizations Basic"
        ],
        "operationId": "get_basic_authorizations",
        "summary": "List all basic-authorizations",
        "description": "Returns the list of your basic-authorizations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/basic_authorization_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/basic_authorization',\n  params: { limit: 5, page: 1, order: '-namespace,name', ignore: 'password'}\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Authorizations Basic"
        ],
        "operationId": "create_basic_authorization",
        "summary": "Create a basic-authorization",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/basic_authorization_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/basic_authorization_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/basic_authorization',\n  data: {\n    namespace: \"Test\",\n    name: \"auth_basic\",\n    username: \"test_auth_basic\",\n    password: \"test_auth_basic\"\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/basic_authorization/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Authorizations Basic"
        ],
        "operationId": "get_basic_authorization",
        "summary": "Retrieve a basic-authorization",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/basic_authorization_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '62069b095a5a2330d0038cdc'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/basic_authorization/${item_id}`,\n  params: { ignore: 'password'}\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Authorizations Basic"
        ],
        "operationId": "update_basic_authorization",
        "summary": "Update a basic-authorization",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/basic_authorization_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/basic_authorization_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '62069b095a5a2330d0038cdc'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/basic_authorization/${item_id}`,\n  data: {\n    username: \"test_auth_basic@api_v2\"\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Authorizations Basic"
        ],
        "operationId": "delete_basic_authorization",
        "summary": "Delete a basic-authorization",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '62069b095a5a2330d0038cdc'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/basic_authorization/${item_id}`,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/connection_role": {
      "get": {
        "tags": [
          "Connection Roles"
        ],
        "operationId": "get_connection_roles",
        "summary": "List all connection-roles",
        "description": "Returns the list of your connection-roles.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_role_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/connection_role',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: '-namespace,name', embedding: 'webhooks,connections' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Connection Roles"
        ],
        "operationId": "create_connection_role",
        "summary": "Create a connection-role",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/connection_role_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_role_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/connection_role',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"connection_role_test_01\",\n    webhooks: [\n      {\n        _reference: true,\n        namespace: \"Test\",\n        name: \"webhook_test_01\"\n      }\n    ],\n    connections: [\n      {\n        _reference: true,\n        namespace: \"Test\",\n        name: \"connection_test_01\"\n      }\n    ],\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/connection_role/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Connection Roles"
        ],
        "operationId": "get_connection_role",
        "summary": "Retrieve a connection-role",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_role_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '620951d95a5a233eb9043557'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/connection_role/${item_id}`,\n  params: { embedding: 'webhooks,connections' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Connection Roles"
        ],
        "operationId": "update_connection_role",
        "summary": "Update a connection-role",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/connection_role_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_role_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '620951d95a5a233eb9043557'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/connection_role/${item_id}`,\n  data: {\n    webhooks: [\n      {\n        _reference: true,\n        namespace: \"Test\",\n        name: \"webhook_test_02\"\n      }\n    ],\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Connection Roles"
        ],
        "operationId": "delete_connection_role",
        "summary": "Delete a connection-role",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '620951d95a5a233eb9043557'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/connection_role/${item_id}`,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/connection": {
      "get": {
        "tags": [
          "Connections"
        ],
        "operationId": "get_connections",
        "summary": "List all connections",
        "description": "Returns the list of your connections.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/connection',\n  params: { limit: 5, page: 1, order: '-namespace,name', embedding: 'authorization', ignore: 'password'}\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "operationId": "create_connection",
        "summary": "Create a connection",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/connection_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/connection',\n  data: {\n    namespace: \"Test\",\n    name: \"connection_test_01\",\n    url: \"http://localhost/api/v2/connection_test\",\n    authorization: {\n      _reference: true,\n      namespace: \"Test\",\n      name: \"auth_basic\"\n    },\n    headers:[\n      {\n        key: \"Content-Type\",\n        value: \"text/xml\"\n      }\n    ]\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/connection/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Connections"
        ],
        "operationId": "get_connection",
        "summary": "Retrieve a connection",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '62070ef05a5a23307d038a63'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/connection/${item_id}`,\n  params: { embedding: 'authorization', ignore: 'password'}\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "operationId": "update_connection",
        "summary": "Update a connection",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/connection_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/connection_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '62070ef05a5a23307d038a63'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/connection/${item_id}`,\n  data: {\n    url: \"{{domain}}/api/v2/connection_test\",\n    template_parameters:[\n      {\n        key: \"domain\"\n      }\n    ]\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "operationId": "delete_connection",
        "summary": "Delete a connection",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '62070ef05a5a23307d038a63'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/connection/${item_id}`,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/flow": {
      "get": {
        "tags": [
          "Flows"
        ],
        "operationId": "get_flows",
        "summary": "List all flows",
        "description": "Returns the list of your flows.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/flow_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/flow',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: '-namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Flows"
        ],
        "operationId": "create_flow",
        "summary": "Create a flows.",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/flow_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/flow_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "Convert",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/flow',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"flow_convert_test_01\",\n    notify_request: true,\n    notify_response: true,\n    translator: {\n      _reference: true,\n      namespace: 'Test',\n      name: 'converter_test_01',\n    },\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          },
          {
            "lang": "Export",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/flow',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"flow_export_test_01\",\n    notify_request: true,\n    notify_response: true,\n    translator: {\n      _reference: true,\n      namespace: 'Test',\n      name: 'template_test_01',\n    },\n    webhook: {\n      _reference: true,\n      namespace: 'Test',\n      name: 'webhook_test_01',\n    },\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          },
          {
            "lang": "Import",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/flow',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"flow_import_test_01\",\n    notify_request: true,\n    notify_response: true,\n    translator: {\n      _reference: true,\n      namespace: 'Test',\n      name: 'parser_test_01',\n    },\n    webhook: {\n      _reference: true,\n      namespace: 'Test',\n      name: 'webhook_test_01',\n    },\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/flow/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Flows"
        ],
        "operationId": "get_flow",
        "summary": "Retrieve a flow.",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/flow_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e083815a5a2353c40082f3'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/flow/${item_id}`,\n  httpsAgent: agent,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Flows"
        ],
        "operationId": "update_flow",
        "summary": "Update a flow.",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/flow_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/flow_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '620364d55a5a236eda02cfb0'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/flow/${item_id}`,\n  httpsAgent: agent,\n  data: {\n    active: true,\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Flows"
        ],
        "operationId": "delete_flow",
        "summary": "Delete a flow.",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e083815a5a2353c40082f3'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/flow/${item_id}`,\n  httpsAgent: agent,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/json_data_type": {
      "get": {
        "tags": [
          "Document Types"
        ],
        "operationId": "get_json_data_types",
        "summary": "List all json-data-types",
        "description": "Returns the list of your json-data-types.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\n\ncurl -G \"${base_url}/${path}\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\" \\\n  -d limit=5 \\\n  -d page=1 \\\n  -d order=-namespace,name \\\n  -d embedding=snippet"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/json_data_type',\n  params: { limit: 5, page: 1, order: '-namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Document Types"
        ],
        "operationId": "create_json_data_type",
        "summary": "Create a json-data-type",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/json_data_type_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\n\nread -r -d '' data <<- EOM\n  {\n      \"namespace\": \"Test\",\n      \"name\": \"Person45\",\n      \"code\": \"{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"dni\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"}}}\"\n  }\nEOM\n\ncurl \"${base_url}/${path}\" \\\n  -X \"POST\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"${data}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/json_data_type',\n  data: {\n    namespace: \"Test\",\n    name: \"Person4\",\n    code: JSON.stringify(\n      {\n        type: \"object\",\n        properties: {\n          dni: {\n            type: \"string\"\n          },\n          name: {\n            type: \"string\"\n          }\n        }\n      }\n    )\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/json_data_type/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Document Types"
        ],
        "operationId": "get_json_data_type",
        "summary": "Retrieve a json-data-type",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\nitem_id=\"61e0312b5a5a2353ad004469\"\n\ncurl \"${base_url}/${path}/${item_id}\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e0312b5a5a2353ad004469'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/json_data_type/${item_id}`,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Document Types"
        ],
        "operationId": "update_json_data_type",
        "summary": "Update a json-data-type",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/json_data_type_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\nitem_id=\"61e0312b5a5a2353ad004469\"\n\nread -r -d '' data <<- EOM\n  {\n      \"namespace\": \"Test\",\n      \"name\": \"Person46\"\n  }\nEOM\n\ncurl \"${base_url}/${path}/${item_id}\" \\\n  -X \"POST\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"${data}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e0312b5a5a2353ad004469'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/json_data_type/${item_id}`,\n  data: {\n    namespace: \"Test\",\n    name: \"Person3\",\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Document Types"
        ],
        "operationId": "delete_json_data_type",
        "summary": "Delete a json-data-type",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\nitem_id=\"61e0312b5a5a2353ad004469\"\n\ncurl \"${base_url}/${path}/${item_id}\" \\\n  -X \"DELETE\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e0312b5a5a2353ad004469'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/json_data_type/${item_id}`,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/plain_webhook": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "get_plain_webhooks",
        "summary": "List all plain-webhooks",
        "description": "Returns the list of your plain-webhooks.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/plain_webhook_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/plain_webhook',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: '-namespace,name', embedding: 'authorization' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "create_plain_webhook",
        "summary": "Create a plain-webhook",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/plain_webhook_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/plain_webhook_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/plain_webhook',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"webhook_test_01\",\n    method: \"get\",\n    path: \"api/v2/test_01\",\n    parameters: [\n      {\n        key: \"limit\",\n        value: \"50\",\n      }\n    ],\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/plain_webhook/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "get_plain_webhook",
        "summary": "Retrieve a plain-webhook",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/plain_webhook_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '6205b5995a5a233dd9039b8a'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/plain_webhook/${item_id}`,\n  params: { embedding: 'authorization' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "update_plain_webhook",
        "summary": "Update a plain-webhook",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/plain_webhook_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/plain_webhook_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '6205b5995a5a233dd9039b8a'\nconst param_id = '6205b5995a5a233dd9039b8b'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/plain_webhook/${item_id}`,\n  data: {\n    parameters: [\n      {\n        id: `${param_id}`,\n        key: \"limit\",\n        value: \"100\",\n      }\n    ],\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "delete_plain_webhook",
        "summary": "Delete a plain-webhook",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '6205b5995a5a233dd9039b8a'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/plain_webhook/${item_id}`,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/ruby_converter": {
      "get": {
        "tags": [
          "Converters"
        ],
        "operationId": "get_ruby_converters",
        "summary": "List all ruby converter transformations",
        "description": "Returns the list of your ruby converter transformations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_converter_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/ruby_converter',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: 'namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Converters"
        ],
        "operationId": "create_ruby_converter",
        "summary": "Create a ruby converter transformations.",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_converter_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_converter_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/ruby_converter',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"converter_test_01\",\n    source_handler: false,\n    source_data_type: {\n      _reference: true,\n      namespace: \"Test\",\n      name: \"Person\"\n    },\n    target_data_type: {\n      _reference: true,\n      namespace: \"Test\",\n      name: \"Person2\"\n    },\n    code: 'target.name = source.name.downcase',\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/ruby_converter/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Converters"
        ],
        "operationId": "get_ruby_converter",
        "summary": "Retrieve a ruby converter transformation.",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_converter_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '6203c5dd5a5a233de3027b96'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/ruby_converter/${item_id}`,\n  httpsAgent: agent,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Converters"
        ],
        "operationId": "update_ruby_converter",
        "summary": "Update a ruby converter transformation.",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_converter_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_converter_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '6203c5dd5a5a233de3027b96'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/ruby_converter/${item_id}`,\n  httpsAgent: agent,\n  data: {\n    source_handler: true,\n    code: 'sources.each {|s| target_data_type.create_from_json!(name: s.name.downcase, primary_field: %i[name]) }',\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Converters"
        ],
        "operationId": "delete_ruby_converter",
        "summary": "Delete a ruby converter transformation.",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '6203c5dd5a5a233de3027b96'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/ruby_converter/${item_id}`,\n  httpsAgent: agent,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/ruby_parser": {
      "get": {
        "tags": [
          "Parsers"
        ],
        "operationId": "get_ruby_parsers",
        "summary": "List all ruby parser transformations",
        "description": "Returns the list of your ruby parser transformations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/ruby_parser',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: 'namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Parsers"
        ],
        "operationId": "create_ruby_parser",
        "summary": "Create a ruby parser transformations.",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_parser_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/ruby_parser',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"parser_test_01\",\n    target_data_type: {\n      _reference: true,\n      namespace: \"Test\",\n      name: \"Person\"\n    },\n    code: '{ name: data[:name].downcase }',\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/ruby_parser/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Parsers"
        ],
        "operationId": "get_ruby_parser",
        "summary": "Retrieve a ruby parser transformation.",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61eeeb7f5a5a234adc00ab2b'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/ruby_parser/${item_id}`,\n  httpsAgent: agent,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Parsers"
        ],
        "operationId": "update_ruby_parser",
        "summary": "Update a ruby parser transformation.",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_parser_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61eeeb7f5a5a234adc00ab2b'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/ruby_parser/${item_id}`,\n  httpsAgent: agent,\n  data: {\n    code: '{ name: data[:name].upcase }',\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Parsers"
        ],
        "operationId": "delete_ruby_parser",
        "summary": "Delete a ruby parser transformation.",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61eeeb7f5a5a234adc00ab2b'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/ruby_parser/${item_id}`,\n  httpsAgent: agent,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/ruby_template": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "get_ruby_templates",
        "summary": "List all ruby template transformations",
        "description": "Returns the list of your ruby template transformations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_query_selector"
          },
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/ruby_template',\n  httpsAgent: agent,\n  params: { limit: 5, page: 1, order: 'namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "create_ruby_template",
        "summary": "Create a ruby template transformations.",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_template_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/ruby_template',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"template_test_01\",\n    mime_type: 'application/json',\n    file_extension: 'json',\n    bulk_source: false,\n    source_data_type: {\n      _reference: true,\n      namespace: \"Test\",\n      name: \"Person\"\n    },\n    code: 'source.to_json',\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/ruby_template/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "get_ruby_template",
        "summary": "Retrieve a ruby template transformation.",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61f1597a5a5a2353be026f14'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/ruby_template/${item_id}`,\n  httpsAgent: agent,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "update_ruby_template",
        "summary": "Update a ruby template transformation.",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_template_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61f1597a5a5a2353be026f14'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/ruby_template/${item_id}`,\n  httpsAgent: agent,\n  data: {\n    mime_type: 'application/json',\n    file_extension: 'json',\n    bulk_source: true,\n    code: 'sources.to_json',\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "operationId": "delete_ruby_template",
        "summary": "Delete a ruby template transformation.",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61f1597a5a5a2353be026f14'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/ruby_template/${item_id}`,\n  httpsAgent: agent,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    }
  },
  "externalDocs": {
    "description": "CenitIO-Documentation",
    "url": "https://cenit-io.github.io/docs"
  },
  "components": {
    "schemas": {
      "algorithm_parameter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "name": {
            "type": "string"
          },
          "many": {
            "type": "boolean",
            "default": false
          },
          "required": {
            "type": "boolean",
            "default": false
          },
          "default": {
            "type": "string"
          }
        }
      },
      "algorithm_response_get": {
        "type": "object",
        "title": "algorithm",
        "allOf": [
          {
            "$ref": "#/components/schemas/algorithm"
          },
          {
            "$ref": "#/components/schemas/snippet_response"
          },
          {
            "type": "object",
            "properties": {
              "output_datatype": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/reference_to_response"
                  },
                  {
                    "$ref": "#/components/schemas/json_data_type_response_get"
                  }
                ]
              }
            }
          }
        ]
      },
      "algorithm_response_post": {
        "type": "object",
        "title": "algorithm",
        "allOf": [
          {
            "$ref": "#/components/schemas/algorithm"
          },
          {
            "type": "object",
            "properties": {
              "snippet": {
                "$ref": "#/components/schemas/reference_to_response"
              },
              "output_datatype": {
                "$ref": "#/components/schemas/reference_to_response"
              }
            }
          }
        ]
      },
      "algorithm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Lowercase name without spaces or special characters"
          },
          "description": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "ruby",
              "javascript"
            ]
          },
          "store_output": {
            "type": "boolean",
            "default": false
          },
          "validate_output": {
            "type": "boolean",
            "default": false
          },
          "parameters_size": {
            "type": "integer"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/algorithm_parameter"
            }
          },
          "code": {
            "type": "string",
            "description": "Code snippet in the previously selected language",
            "writeOnly": true
          }
        }
      },
      "authorization_basic": {
        "type": "object",
        "title": "basic_authorization",
        "allOf": [
          {
            "$ref": "#/components/schemas/authorization_common"
          },
          {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
            }
          }
        ]
      },
      "authorization_common": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Lowercase name without spaces or special characters"
          }
        }
      },
      "authorization_response": {
        "type": "object",
        "title": "authorization",
        "oneOf": [
          {
            "$ref": "#/components/schemas/authorization_basic"
          }
        ]
      },
      "connection_request": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/connection"
          },
          {
            "type": "object",
            "properties": {
              "parameters": {
[...]
