{
  "openapi": "3.0.0",
  "info": {
    "version": "v2",
    "title": "CenitIO API Specifications",
    "termsOfService": "https://cenit.io/terms",
    "contact": {
      "email": "support@cenit.io",
      "url": "https://cenitio.slack.com/messages/support"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "logo.png"
    },
    "description": "# Introduction\n\nCenitIO is an opensource integration platform (iPaaS) for data and business integrations. It is designe to solve\nunique integrations needs, with a robust engine that is able to receive, transform and deliver data in multiple\nformats and protocols. Ready to use in our cloud or on-premises\n\nThe CenitIO APIv2 is a simple connector API for doing business and data integrations.\n\nThis API is for individual retailers, SaaS services, or any business that needs to handle multiple integrations.\n\n* It is built over REST services on HTTPS.\n\n* It has predictable resource URLs.\n\n* It returns HTTP response codes to indicate errors.\n\n* It accepts and returns JSON in the HTTP body.\n\n* You can use your favorite HTTP/REST library for your programming language to use CenitIO APIv2.\n\n  [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/eb5947e10923dee87507)\n"
  },
  "tags": [
    {
      "name": "Document Types",
      "description": "...\n"
    },
    {
      "name": "File Types",
      "description": "...\n"
    },
    {
      "name": "Collections",
      "description": "...\n"
    },
    {
      "name": "Shared Collections",
      "description": "...\n"
    },
    {
      "name": "Algorithms",
      "description": "...\n"
    },
    {
      "name": "Applications",
      "description": "...\n"
    },
    {
      "name": "Snippets",
      "description": "...\n"
    },
    {
      "name": "Templates",
      "description": "...\n"
    },
    {
      "name": "Parsers",
      "description": "...\n"
    },
    {
      "name": "Converters",
      "description": "...\n"
    },
    {
      "name": "Updaters",
      "description": "...\n"
    },
    {
      "name": "System Notifications",
      "description": "...\n"
    },
    {
      "name": "Tasks",
      "description": "...\n"
    },
    {
      "name": "Flows",
      "description": "...\n"
    },
    {
      "name": "Observers",
      "description": "...\n"
    },
    {
      "name": "Schedulers",
      "description": "...\n"
    },
    {
      "name": "Connections",
      "description": "...\n"
    },
    {
      "name": "Resouces",
      "description": "...\n"
    },
    {
      "name": "Authorizations Clients",
      "description": "...\n"
    },
    {
      "name": "Authorizations Providers",
      "description": "...\n"
    },
    {
      "name": "Authorizations",
      "description": "...\n"
    }
  ],
  "servers": [
    {
      "url": "https://cenit.io/api/v2"
    },
    {
      "url": "https://server.cenit.io/api/v2"
    }
  ],
  "security": [
    {
      "X-Tenant-Access-Key": [],
      "X-Tenant-Access-Token": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "Data",
      "tags": [
        "Document Types",
        "File Types"
      ]
    },
    {
      "name": "Integrations",
      "tags": [
        "Collections",
        "Shared Collections"
      ]
    },
    {
      "name": "Compute",
      "tags": [
        "Algorithms",
        "Applications",
        "Snippets"
      ]
    },
    {
      "name": "Transformations",
      "tags": [
        "Templates",
        "Parsers",
        "Converters",
        "Updaters"
      ]
    },
    {
      "name": "Workflows",
      "tags": [
        "Flows",
        "Observers",
        "Schedulers"
      ]
    },
    {
      "name": "Monitors",
      "tags": [
        "Tasks",
        "System Notifications"
      ]
    },
    {
      "name": "Gateways",
      "tags": [
        "Connections",
        "Resources"
      ]
    },
    {
      "name": "Security",
      "tags": [
        "Authorizations Clients",
        "Authorizations Providers",
        "Authorizations"
      ]
    }
  ],
  "paths": {
    "/setup/algorithm": {
      "get": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "get_algorithms",
        "summary": "List all algorithms",
        "description": "Returns the list of your algorithms.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/algorithm',\n  httpsAgent: agent,\n  params: { limit: 2, page: 1, order: '-namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "create_algorithm",
        "summary": "Create a algorithm",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/algorithm_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/algorithm',\n  httpsAgent: agent,\n  data: {\n    namespace: \"Test\",\n    name: \"alg_test_01\",\n    type: \"ruby\",\n    code: \"return 1 + 1\",\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/algorithm/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "get_algorithm",
        "summary": "Retrieve a algorithm",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e083815a5a2353c40082f3'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/algorithm/${item_id}`,\n  httpsAgent: agent,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "update_algorithm",
        "summary": "Update a algorithm",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/algorithm_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/algorithm_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e083815a5a2353c40082f3'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/algorithm/${item_id}`,\n  httpsAgent: agent,\n  data: {\n    code: `return 1 + ${Date.now()}`,\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Algorithms"
        ],
        "operationId": "delete_algorithm",
        "summary": "Delete a algorithm",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\nconst https = require('https');\n\nconst agent = new https.Agent({\n  rejectUnauthorized: false\n});\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e083815a5a2353c40082f3'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/algorithm/${item_id}`,\n  httpsAgent: agent,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/json_data_type": {
      "get": {
        "tags": [
          "Document Types"
        ],
        "operationId": "get_json_data_types",
        "summary": "List all json-data-types",
        "description": "Returns the list of your json-data-types.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_items"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\n\ncurl -G \"${base_url}/${path}\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\" \\\n  -d limit=5 \\\n  -d page=1 \\\n  -d order=-namespace,name \\\n  -d embedding=snippet"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'GET',\n  url: 'setup/json_data_type',\n  params: { limit: 2, page: 1, order: '-namespace,name', embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Document Types"
        ],
        "operationId": "create_json_data_type",
        "summary": "Create a json-data-type",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/json_data_type_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_item_create"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\n\nread -r -d '' data <<- EOM\n  {\n      \"namespace\": \"Test\",\n      \"name\": \"Person45\",\n      \"code\": \"{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"dni\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"}}}\"\n  }\nEOM\n\ncurl \"${base_url}/${path}\" \\\n  -X \"POST\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"${data}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst request = axios({\n  method: 'POST',\n  url: 'setup/json_data_type',\n  data: {\n    namespace: \"Test\",\n    name: \"Person4\",\n    code: JSON.stringify(\n      {\n        type: \"object\",\n        properties: {\n          dni: {\n            type: \"string\"\n          },\n          name: {\n            type: \"string\"\n          }\n        }\n      }\n    )\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});\n\n"
          }
        ]
      }
    },
    "/setup/json_data_type/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Document Types"
        ],
        "operationId": "get_json_data_type",
        "summary": "Retrieve a json-data-type",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\nitem_id=\"61e0312b5a5a2353ad004469\"\n\ncurl \"${base_url}/${path}/${item_id}\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e0312b5a5a2353ad004469'\n\nconst request = axios({\n  method: 'GET',\n  url: `setup/json_data_type/${item_id}`,\n  params: { embedding: 'snippet' }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "post": {
        "tags": [
          "Document Types"
        ],
        "operationId": "update_json_data_type",
        "summary": "Update a json-data-type",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/json_data_type_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/json_data_type_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\nitem_id=\"61e0312b5a5a2353ad004469\"\n\nread -r -d '' data <<- EOM\n  {\n      \"namespace\": \"Test\",\n      \"name\": \"Person46\"\n  }\nEOM\n\ncurl \"${base_url}/${path}/${item_id}\" \\\n  -X \"POST\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"${data}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['Content-Type'] = 'application/json'\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e0312b5a5a2353ad004469'\n\nlet request = axios({\n  method: 'POST',\n  url: `setup/json_data_type/${item_id}`,\n  data: {\n    namespace: \"Test\",\n    name: \"Person3\",\n  }\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      },
      "delete": {
        "tags": [
          "Document Types"
        ],
        "operationId": "delete_json_data_type",
        "summary": "Delete a json-data-type",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "#!/bin/bash\n\nbase_url=${BASE_URL:=\"https://cenit.io/api/v2\"}\npath=\"setup/json_data_type\"\nitem_id=\"61e0312b5a5a2353ad004469\"\n\ncurl \"${base_url}/${path}/${item_id}\" \\\n  -X \"DELETE\" \\\n  -H \"X-Tenant-Access-Key: ${X_TENANT_ACCESS_KEY}\" \\\n  -H \"X-Tenant-Access-Token: ${X_TENANT_ACCESS_TOKEN}\"\n"
          },
          {
            "lang": "NodeJS",
            "source": "const dotenv = require('dotenv')\nconst axios = require('axios');\n\ndotenv.config();\n\naxios.defaults.baseURL = process.env['BASE_URL'] || 'https://cenit.io/api/v2/';\naxios.defaults.headers.common['X-Tenant-Access-Key'] = process.env['X_TENANT_ACCESS_KEY']\naxios.defaults.headers.common['X-Tenant-Access-Token'] = process.env['X_TENANT_ACCESS_TOKEN']\n\nconst item_id = '61e0312b5a5a2353ad004469'\n\nconst request = axios({\n  method: 'DELETE',\n  url: `setup/json_data_type/${item_id}`,\n});\n\nrequest.then((response) => {\n  // Do something with the response\n  console.log(JSON.stringify(response.data, null, 2));\n}).catch((error) => {\n  // Do something with the error\n  console.error(JSON.stringify(error.response.data, null, 2));\n});"
          }
        ]
      }
    },
    "/setup/ruby_parser": {
      "get": {
        "tags": [
          "Parsers"
        ],
        "operationId": "get_ruby_parsers",
        "summary": "List all ruby parser transformations",
        "description": "Returns the list of your ruby parser transformations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_items"
          }
        }
      },
      "post": {
        "tags": [
          "Parsers"
        ],
        "operationId": "create_ruby_parser",
        "summary": "Create a ruby parser transformations.",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_parser_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_item_create"
          }
        }
      }
    },
    "/setup/ruby_parser/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Parsers"
        ],
        "operationId": "get_ruby_parser",
        "summary": "Retrieve a ruby parser transformation.",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        }
      },
      "post": {
        "tags": [
          "Parsers"
        ],
        "operationId": "update_ruby_parser",
        "summary": "Update a ruby parser transformation.",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_parser_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_parser_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        }
      },
      "delete": {
        "tags": [
          "Parsers"
        ],
        "operationId": "delete_ruby_parser",
        "summary": "Delete a ruby parser transformation.",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        }
      }
    },
    "/setup/ruby_template": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "get_ruby_templates",
        "summary": "List all ruby template transformations",
        "description": "Returns the list of your ruby template transformations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_offset"
          },
          {
            "$ref": "#/components/parameters/query_limit"
          },
          {
            "$ref": "#/components/parameters/query_sort"
          },
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_items"
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "create_ruby_template",
        "summary": "Create a ruby template transformations.",
        "description": "Add a new item.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_template_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_item_create"
          }
        }
      }
    },
    "/setup/ruby_template/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path_item_id"
        }
      ],
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "get_ruby_template",
        "summary": "Retrieve a ruby template transformation.",
        "description": "Find and return the item with the given id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_only"
          },
          {
            "$ref": "#/components/parameters/query_ignore"
          },
          {
            "$ref": "#/components/parameters/query_embedding"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_item"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "update_ruby_template",
        "summary": "Update a ruby template transformation.",
        "description": "Find and update the item with the given id.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/ruby_template_data"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ruby_template_item_create"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        }
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "operationId": "delete_ruby_template",
        "summary": "Delete a ruby template transformation.",
        "description": "Find and destroy the item with the given id.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/item_removed_successfully"
          },
          "404": {
            "$ref": "#/components/responses/item_not_found"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "CenitIO-Documentation",
    "url": "https://cenit-io.github.io/docs"
  },
  "components": {
    "schemas": {
      "algorithm_parameter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "name": {
            "type": "string"
          },
          "many": {
            "type": "boolean",
            "default": false
          },
          "required": {
            "type": "boolean",
            "default": false
          },
          "default": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "algorithm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Lowercase name without spaces or special characters"
          },
          "description": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "ruby",
              "javascript"
            ]
          },
          "store_output": {
            "type": "boolean",
            "default": false
          },
          "validate_output": {
            "type": "boolean",
            "default": false
          },
          "parameters_size": {
            "type": "integer"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/algorithm_parameter"
            }
          },
          "code": {
            "type": "string",
            "description": "Code snippet in the previously selected language",
            "writeOnly": true
          },
          "output_datatype": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/json_data_type"
              }
            ]
          }
        },
        "required": [
          "namespace",
          "name",
          "language",
          "code"
        ]
      },
      "default_reference": {
        "type": "object",
        "properties": {
          "_reference": {
            "type": "boolean",
            "default": true
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name without spaces or special characters"
          }
        }
      },
      "identify_reference": {
        "type": "object",
        "properties": {
          "_reference": {
            "type": "boolean",
            "default": true
          },
          "id": {
            "type": "string",
            "description": "Item identifier"
          }
        }
      },
      "json_data_type": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name without spaces or special characters"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "JSON-Schema",
            "writeOnly": true
          },
          "discard_additional_properties": {
            "type": "boolean",
            "default": true
          },
          "navigation_link": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "namespace",
          "name",
          "code"
        ]
      },
      "pagination": {
        "type": "object",
        "properties": {
          "total_pages": {
            "description": "Total number of pages",
            "type": "integer"
          },
          "current_page": {
            "description": "Number of the page obtained",
            "type": "integer"
          },
          "count": {
            "description": "Total number of items",
            "type": "integer"
          }
        }
      },
      "ruby_parser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Lowercase name without spaces or special characters"
          },
          "type": {
            "type": "string",
            "default": "Import",
            "readOnly": true
          },
          "code": {
            "type": "string",
            "description": "Code snippet in the previously selected language",
            "writeOnly": true
          }
        }
      },
      "ruby_template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Lowercase name without spaces or special characters"
          },
          "type": {
            "type": "string",
            "default": "Export",
            "readOnly": true
          },
          "mime_type": {
            "type": "string",
            "description": "The output mime-type",
            "readOnly": true
          },
          "file_extension": {
            "type": "string",
            "description": "The extension of the output file",
            "readOnly": true
          },
          "code": {
            "type": "string",
            "description": "Code snippet in the previously selected language",
            "writeOnly": true
          },
          "source_data_type_id": {
            "type": "string",
            "description": "The identify of the source data-type",
            "writeOnly": true
          }
        },
        "required": [
          "namespace",
          "name",
          "code",
          "source_data_type_id"
        ]
      },
      "snippet_options": {
        "type": "object",
        "properties": {
          "snippet": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/default_reference"
              },
              {
                "$ref": "#/components/schemas/snippet"
              }
            ]
          }
        }
      },
      "snippet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Item identifier"
          },
          "namespace": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name without spaces or special characters"
          },
          "type": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "Code snippet"
          },
          "slug": {
            "type": "string"
          },
          "navigation_link": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "namespace",
          "name",
          "type",
          "code"
        ]
      },
      "sort_query_parameter": {
        "description": "Sort criterial",
        "type": "string",
        "enum": [
          "ASC",
          "DESC"
        ]
      },
      "source_data_type_options": {
        "type": "object",
        "properties": {
          "source_data_type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/default_reference"
              },
              {
                "$ref": "#/components/schemas/json_data_type"
              }
            ]
          }
        }
      },
      "target_data_type_options": {
        "type": "object",
        "properties": {
          "target_data_type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/default_reference"
              },
              {
                "$ref": "#/components/schemas/json_data_type"
              }
            ]
          }
        }
      },
      "target_data_type_request": {
        "type": "object",
        "properties": {
          "target_data_type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/default_reference"
              },
              {
                "$ref": "#/components/schemas/identify_reference"
              }
            ]
          }
        }
      }
    },
    "responses": {
      "algorithm_item_create": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "object",
                  "properties": {
                    "algorithm": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/algorithm"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "snippet": {
                              "readOnly": true,
                              "$ref": "#/components/schemas/default_reference"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "algorithm_item": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/algorithm"
                },
                {
                  "$ref": "#/components/schemas/snippet_options"
                }
              ]
            }
          }
        }
      },
      "algorithm_items": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "algorithms": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/algorithm"
                          },
                          {
                            "$ref": "#/components/schemas/snippet_options"
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "item_not_found": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "default": "item not found"
                }
              }
            }
          }
        }
      },
      "item_removed_successfully": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "default": "ok"
                }
              }
            }
          }
        }
      },
      "json_data_type_item_create": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "object",
                  "properties": {
                    "json_data_type": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/json_data_type"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "snippet": {
                              "readOnly": true,
                              "$ref": "#/components/schemas/default_reference"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "json_data_type_item": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/json_data_type"
                },
                {
                  "$ref": "#/components/schemas/snippet_options"
                }
              ]
            }
          }
        }
      },
      "json_data_type_items": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "json_data_types": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/json_data_type"
                          },
                          {
                            "$ref": "#/components/schemas/snippet_options"
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ruby_parser_item_create": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "object",
                  "properties": {
                    "ruby_parser": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ruby_parser"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "target_data_type": {
                              "readOnly": true,
                              "$ref": "#/components/schemas/default_reference"
                            },
                            "snippet": {
                              "readOnly": true,
                              "$ref": "#/components/schemas/default_reference"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ruby_parser_item": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ruby_parser"
                },
                {
                  "$ref": "#/components/schemas/target_data_type_options"
                },
                {
                  "$ref": "#/components/schemas/snippet_options"
                }
              ]
            }
          }
        }
      },
      "ruby_parser_items": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "ruby_parsers": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ruby_parser"
                          },
                          {
                            "$ref": "#/components/schemas/target_data_type_options"
                          },
                          {
                            "$ref": "#/components/schemas/snippet_options"
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ruby_template_item_create": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "object",
                  "properties": {
                    "ruby_template": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ruby_template"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "source_data_type": {
                              "readOnly": true,
                              "$ref": "#/components/schemas/default_reference"
                            },
                            "snippet": {
                              "readOnly": true,
                              "$ref": "#/components/schemas/default_reference"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ruby_template_item": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ruby_template"
                },
                {
                  "$ref": "#/components/schemas/source_data_type_options"
                },
                {
                  "$ref": "#/components/schemas/snippet_options"
                }
              ]
            }
          }
        }
      },
      "ruby_template_items": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/pagination"
                },
                {
                  "type": "object",
                  "properties": {
                    "ruby_templates": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ruby_template"
                          },
                          {
                            "$ref": "#/components/schemas/source_data_type_options"
                          },
                          {
                            "$ref": "#/components/schemas/snippet_options"
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "parameters": {
      "path_item_id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "description": "Item identifier",
          "type": "string",
          "example": "5d04051125d9852c71016793"
        }
      },
      "query_embedding": {
        "name": "embedding",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Comma separated set of attributes, which refer to another entities and will be included in its entirety in the response.\n\n> By default in these attributes only a reference to the foreign items is returned.\n"
        }
      },
      "query_ignore": {
        "name": "ignore",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Comma separated set of attributes that are excluded from the response.\n\n> The id attribute always will be included.\n",
          "example": "namespace,name"
        }
      },
      "query_limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "description": "The maximum number of items that can be returned. The supported values ​​are between 1 and 25.\n",
          "type": "integer",
          "example": 10
        }
      },
      "query_offset": {
        "name": "page",
        "in": "query",
        "schema": {
          "description": "Number of the page to skip at the beginning of the list.\n",
          "type": "integer",
          "example": 1
        }
      },
      "query_only": {
        "name": "only",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Comma separated set of attributes that are included in the response.\n\n> The id attribute always will be included.\n",
          "example": "namespace,name"
        }
      },
      "query_sort": {
        "name": "order",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Comma separated set of attributes to sort items list.\n\n> To sort descendingly, the prefix sign (-) must be added.\n",
          "example": "-namespace,name"
        }
      }
    },
    "requestBodies": {
      "algorithm_data": {
        "description": "The algorithm that will be created or updated",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/algorithm"
            }
          }
        }
      },
      "json_data_type_data": {
        "description": "The json-data-type that will be created or updated",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/json_data_type"
            }
          }
        }
      },
      "ruby_parser_data": {
        "description": "The translator that will be created or updated",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ruby_parser"
                },
                {
                  "$ref": "#/components/schemas/target_data_type_request"
                }
              ],
              "required": [
                "namespace",
                "name",
                "code",
                "target_data_type"
              ]
            }
          }
        }
      },
      "ruby_template_data": {
        "description": "The translator that will be created or updated",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ruby_template"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "X-Tenant-Access-Key": {
        "type": "apiKey",
        "name": "X-Tenant-Access-Key",
        "in": "header",
        "description": "Tenant authentication key.\n\n> Each service request must include an **X-Tenant-Access-Key** header or parameter.\n"
      },
      "X-Tenant-Access-Token": {
        "type": "apiKey",
        "name": "X-Tenant-Access-Token",
        "in": "header",
        "description": "Tenant authentication Token.\n\n> Each service request must include an **X-Tenant-Access-Token** header or parameter.\n"
      }
    }
  }
}
